@import "header.css";
@import "global.css";
@import "footer.css";

.op {
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.space {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.b-space {
  margin-bottom: 50px;
}
.bt {
  font-size: 30px;
  height: 97px;
  border-radius: 5px;
  width: 70%;
  background-color: #510074;
  color: #fff;
  padding: 20px;
  display: block;

  margin-bottom: 15px;
}
.label_dado {
  display: block;
  font-size: 30px;
  padding: 15px 0px;
  font-weight: 500;
}
.label_empresa {
  display: block;
  font-size: 45px;
  padding: 10px 0px;
  font-weight: 500;
}
.ma {
  margin-top: 50px;
}
.enquete {
  width: 40%;
  color: #fff;
  border-radius: 3px;
  background-color: #7b167d;
}
.edt {
  color: #fff;
  width: 30%;
  height: 90px;
  background-color: #7b167d;
  font-size: 25px;
}
.resultado {
  color: #fff;
  width: 20%;
  background-color: #510074;
  font-size: 20px;
}
.btnss {
  margin-top: 30px;
  width: 95%;
  gap: 30px;
}
.ga {
  padding-bottom: 100px;
}
